tmp
/build.log
/build/iphone/*
/build/android/*
/build/iphone/lib/*
/build/iphone/headers/TiCore/*
/build/iphone/Classes/*
/build/iphone/Classes/**
/build/iphone/Resources/*
/build/iphone/build/TiQiita.build/Debug-iphonesimulator/asunaro.build/**
/build/iphone/build/*
/build/iphone/build/**/*
/build/iphone/build/**/**/*
/build/iphone/build/**/**/**/*
/Resources/android/*
/Resources/android/images/*
/Resources/android/images/**/**/*
/build/iphone/build/build.log
/Resources/.DS_Store
/Resources/config/*
/upload.sh
/.DS_Store
/Resources/KS_nav_ui.png
/Resources/KS_nav_views.png
/Resources/bootstrap.min.css
/Resources/eventManagement.js
/certs/development.mobileprovision
/coffee/controllers/qiitaController.coffee
/Resources/model/config.json