tmp
/build.log
/build/iphone/*
/build/android/*
/build/iphone/lib/*
/build/iphone/headers/TiCore/*
/build/iphone/Classes/*
/build/iphone/Classes/**
/build/iphone/Resources/*
/build/iphone/build/TiQiita.build/Debug-iphonesimulator/asunaro.build/**
/build/iphone/build/*
/build/iphone/build/**/*
/build/iphone/build/**/**/*
/build/iphone/build/**/**/**/*
/Resources/android/*
/Resources/android/images/*
/Resources/android/images/**/**/*
/build/iphone/build/build.log
/Resources/.DS_Store
/Resources/ui/.DS_Store
/.DS_Store
/Resources/test/following_tags.json
/Resources/test/items.json
/Resources/test/relLink.json
/Resources/config.json